//- 集成关于我们布局
extends ../../common/pages/about/about_layout.pug
block head
  title 发展历程
//- 设置模板参数
block menu
  - var act =12
block about-content
  div.about-team-content
    p.title
      span 发展历程
    .year-wrap
      h2.din-font 2017
      .momth-list
        .momth-wrap
          i
          span.month 11月
          p.day
            span.date 11月29号
            span.text 受邀出席东方财经2017实体经济与创新金融年度盛典，被授予最具风控力奖 
        .momth-wrap
          i
          span.month 8月
          p.day
            span.date 8月10号
            span.text 注册资本增加至一亿元 平台合规进阶
        .momth-wrap
          i
          span.month 7月
          p.day
            span.date 7月15号
            span.text 受邀参与朗迪峰会（LendIt）接受“第一财经”采访
        .momth-wrap
          i
          span.month 6月
          p.day
            span.date 6月19号
            span.text 正式与上海华瑞银行签订合作协议 进入系统开发与对接阶段
          p.day
            span.date 6月15号
            span.text 实缴注册资本增至5000万 领投鸟成交量破20亿
        .momth-wrap
          i
          span.month 4月
          p.day
            span.date 4月15号
            span.text 引入线上电子合同
          p.day
            span.date 4月7号
            span.text 签订第三方银行存管 平台合规更进一步
        .momth-wrap
          i
          span.month 2月
          p.day
            span.date 2月24号
            span.text 与同盾、有盾、安融征信、芝麻信用和大圣数据达成合作
        .momth-wrap
          i
          span.month 1月
          p.day
            span.date 1月4号
            span.text 上海吾悠金融信息服务有限公司正式更名为上海吾悠互联网科技服务有限公司
    .year-wrap
      h2.din-font 2016
      .momth-list
        .momth-wrap
          i
          span.month 12月
          p.day
            span.date 12月23号
            span.text 每日经济新闻评选为《2016年度最佳品牌营销奖》
        .momth-wrap
          i
          span.month 10月
          p.day
            span.date 10月15号
            span.text 入选《2016上海网络信贷服务业白皮书》编委会
        .momth-wrap
          i
          span.month 5月
          p.day
            span.date 5月27号
            span.text 董事长章瑞瑞当选上海金融信息行业协会第一届理事会理事
          p.day
            span.date 5月17号
            span.text 单日成交额首次进入网贷之家前100名
          p.day
            span.date 5月10号
            span.text 网贷天眼考察领投鸟
        .momth-wrap
          i
          span.month 4月
          p.day
            span.date 4月27号
            span.text 董事长章瑞瑞接受和讯财经专访：房地产会过剩吗？ 
          p.day
            span.date 4月10号
            span.text 领投鸟成交破一亿
        .momth-wrap
          i
          span.month 3月
          p.day
            span.date 3月15号
            span.text 董事长章瑞瑞接受“第一财经”专访
        .momth-wrap
          i
          span.month 2月
          p.day
            span.date 2月24号
            span.text 领投鸟正式加入上海金融信息行业协会成为理事单位 
        .momth-wrap
          i
          span.month 1月
          p.day
            span.date 1月15号
            span.text 领投鸟APP上线  
            
              
    .year-wrap
      h2.din-font 2015
      .momth-list
        .momth-wrap
          i
          span.month 11月
          p.day
            span.date 11月11号
            span.text 吾悠互联网金融公司注册成立
