//- 集成关于我们布局
extends ../../common/pages/about/about_layout.pug
block head
  title 加入我们
//- 设置模板参数
block menu
  - var act =10
block about-content
  div.about-content
    p.title
      span 加入我们
    div.text
      p
        | 领投鸟视员工为企业的第一财富。我们为员工营造了轻松愉快的工作环境、充足的学习和成长机会，以充分展现员工的才华。作为创业企业， 我们愿与员工一起成长，共创互联网房产金融的美好未来。
      p 请将您的简历通过电子邮件投递到&nbsp;&nbsp;
        span.email work@lingtouniao.com
        span ，邮件标题格式： 姓名-应聘职位-招聘信息来源，谢谢！
      p.header.cleanfix 开放职位
        a.more(href='http://www.lagou.com/gongsi/103258.html' target="_blank") 更多职位...
    div.list-item
      p.find-job-header.cleanfix 资深产品运营/运营专家[上海]
        a(href='http://www.lagou.com/jobs/2394629.html' target="_blank") 投递简历
      div.job-description(style='display:none')
        h4 职位描述
        p 3年以上运营经验，熟悉互联网金融运作模式，具有运用数据和产品运营解决实际问题的经验；有较强的分析规划能力、洞察力、开拓创新和应变能力，具有优秀的沟通能力，团队意识与执行能力强。
        h4 岗位职责
        p 1、根据互联网金融平台发展和互联网人群的需求，参与公司战略方向、经营目标讨论并给出发展建议；
        p 2、负责移动、网站运营的整体规划与执行，制定并完善产品业务规范；
        p 3、制定并持续监测现有产品的收入、成本、客户量、活跃度、增长率等核心运营指标，对产品进行修正、包装与风控把关；
        p 4、负责平台的项目对接、产品案例设计、产品结构化、产品培训及产品商务咨询谈判、拓展等工作。
    div.list-item
      p.find-job-header.cleanfix JavaWeb/高级工程师[上海]
        a(href='http://www.lagou.com/jobs/1208283.html' target="_blank") 投递简历
      div.job-description(style='display:none')
        h4 职位描述
        p 具有2年以上J2EE项目开发经验，熟练使用springMVC，mybitis等主流java框架；熟练掌握HTML、CSS、JavaScript,AJAX等Web技术，有大型后台管理系统开发经验优先。
        h4 岗位职责
        p 1. 负责网站、H5等平台产品的后台开发；
        p 2. 平台产品相关数据库的设计、编写和接口编码；
        p 3. 服务器环境的部署、调试；
        p 4. 积极主动的沟通协调及团队合作，推进项目快速迭代研发。
    div.list-item
      p.find-job-header.cleanfix 资深产品经理/产品专家[上海]
        a(href='http://www.lagou.com/jobs/1249259.html' target="_blank") 投递简历
      div.job-description(style='display:none')
        h4 职位描述
        p 2年以互联网产品设计经验，对移动端或者金融类产品有成熟的产品设计经验，至少主导设计过一款互联网产品，有电商类、P2P或第三方支付相关经验者优先
        h4 岗位职责
        p 1、负责平台移动端、H5的产品设计，负责产品原型设计、业务流程以及功能实现；
        p 2、管理产品设计、开发、上线、验收的全过程，协调各条线资源完成开发目标；
        p 3、负责用户类产品、用户积分体系的搭建市场需求调研；
        p 4、了解金融及互联网相关领域动向，及时、准确地研究、监控、分析，并提出相应的分析报告。
