//- 集成帮助中心布局
extends ../../common/pages/help/help_layout.pug
block head
  title 帮助中心 理财金券
//- 设置模板参数
block menu
  - var act =7
block help-content
  div.help-about
    div.help-title
      span 理财金券
    ul.list
      li.slide
        div.item 01、什么是鸟币？
        div.content(style='display:none;') 鸟币是坤鹏普惠结合其领投鸟理财APP推出的一种虚拟货币，可通过投资变现。通常它的兑价是1鸟币=1人民币。
      li.slide
        div.item 02、鸟币如何使用？
        div.content(style='display:none;')
          p (1) 投资使用
          p 投资使用鸟币可与现金1:49进行配比投资，投资后可产生利息， 赎回时和产生的利息一起变现。举例：投资1000元时最多可使用20鸟币， 按照1000元计算利息。
          p (2) 抵扣提现手续费
          p 领投鸟理财用户每个自然月享受一次免费取现机会，超过次数扣2元人民币/次。 鸟币可用于支付超过后的取现手续费，即每月超过一次后的提现每次扣除2鸟币即可。鸟币最终解释权归领投鸟所有。
      li.slide
        div.item 03、鸟币是否有存在有效期？
        div.content(style='display:none;') 有效期一年，到期清零。
      li.slide
        div.item 04、鸟币可以提现吗？
        div.content(style='display:none;')
          p 不可以直接提现，可以通过投资后产生利息，赎回时和产生的利息一起变现。
          p 例如：某客户投资一款年利率为9%的定期理财产品，其中本金投入980元人民币，使用鸟币20。最终收益为总投资额1000元基础上产生的收益。
      li.slide
        div.item 05、如何查询鸟币？
        div.content(style='display:none;') 领投鸟理财用户成功登录领投鸟理财后，在“账户中心”-“我的鸟币”页面可以查看到您的鸟币余额。
      li.slide
        div.item 06、如何获得鸟币？
        div.content(style='display:none;')
          p 方法一：新注册用户可投资体验标，生成的利息所得，就是以鸟币的形式支付。
          p 方法二：参与领投鸟的活动，获得相应的鸟币。例如：通过每天的砸金蛋活动会获得相应的鸟币作为奖励。
      li.slide
        div.item 07、什么是返现券？
        div.content(style='display:none;') 返现券是领投鸟理财向投资者提供的一种优惠奖励券，投资时若使用了返现券，投资完成后，所使用的返现券会折换成等额现金，发放到领投鸟理财余额账户内，可以继续投资或提现。返现券是回馈新老客户的一项优惠计划，新手注册所获得的返现券不可转让赠送，其它返现券是可以赠送的。领投鸟理财保留对返现券进行解释的权利。
      li.slide
        div.item 08、如何获得返现券？
        div.content(style='display:none;')
          p (1)为回馈领投鸟理财用户，领投鸟理财会不定期发送返现券给用户。
          p (2) 领投鸟理财会不定期举行赠送返现券的活动，若满足活动要求可获得投资券，请密切关注领投鸟理财的各类活动。
          p (3)可以用积分兑换。
      li.slide
        div.item 09、如何查询返现券？
        div.content(style='display:none;') 领投鸟理财用户成功登录领投鸟理财后，在“账户中心”－“理财金券”页面可以查看到您的返现券。
      li.slide
        div.item 10、怎么使用返现券？
        div.content(style='display:none;')
          p 返现券只能在领投鸟理财在线投资时使用：
          p (1) 返现券仅限在有效期内使用，过期作废；
          p (2) 返现券仅限投资固定收益类产品；
          p (3) 在满足投资金额时可选择激活一张，不能叠加使用，也不可与加息券叠加使用。返现券最终解释权归领投鸟理财所有。
          p 例如：某客户投资绑卡获得充值获得58返现券，该客户投资10000元标的结束后，最终收益=本金+58元+本金基数计划的年化收益
      li.slide
        div.item 11、返现券是否有存在有效期？
        div.content(style='display:none;') 有的，每张券的有效期不一样，具体有效期查看券详情。
      li.slide
        div.item 12、什么是加息券？
        div.content(style='display:none;') 加息券是领投鸟理财向投资者提供的一种优惠奖励券，投资时若使用了加息券，投资完成后，所使用的加息券会根据投资获得的利息基础上再加上一笔加息，发放到领投鸟理财余额账户内，可以继续投资或提现。加息券是回馈新老客户的一项优惠计划，新手注册所获得的返现券不可转让赠送，其它加息券是可以赠送的。领投鸟理财保留对加息券进行解释的权利。
      li.slide
        div.item 13、如何获得加息券？
        div.content(style='display:none;') 
          p (1) 为回馈领投鸟理财用户，领投鸟理财会不定期发送加息券给用户。
          p (2) 领投鸟理财会不定期举行赠送加息券的活动，若满足活动要求可获得投资券，请密切关注。
          p (3)可以用积分兑换。
      li.slide
        div.item 14、如何查询加息券？
        div.content(style='display:none;') 领投鸟理财用户成功登录领投鸟理财后，在“账户中心”－“理财金券”页面可以查看到您的加息券。
      li.slide
        div.item 15、怎么使用加息券？
        div.content(style='display:none;') 
          p 加息券只能在领投鸟理财在线投资时使用：
          p (1) 加息券仅限在有效期内使用，过期作废；
          p (2) 加息券仅限投资固定收益类产品，具体看相关标的是否支持使用该券；
          p (3) 在满足投资金额时可选择激活一张，不能叠加使用，也不可与返现券叠加使用。加息券最终解释权归领投鸟理财所有。
          p (4) 加息券是在投资标的获得利息的基础上新增一笔加息的利息，加息的计算方法是按照加息券的面额×标的获得利息。
          p 例如：某客户投资使用10%加息券，该客户投资10000元标的结束后，最终收益=本金+本金基数计划的年化收益+本金基数计划的年化收益×10%。
      li.slide
        div.item 16、体验金券是存在有效期？
        div.content(style='display:none;') 有的，每张券的有效期不一样，具体有效期查看券详情。
      li.slide
        div.item 17、什么是体验金券？
        div.content(style='display:none;') 体验金券用于投资领投鸟理财平台的新手体验标。尚未在领投鸟理财投资的用户，注册就能获得60000元体验金券，把体验金券进行投资，1天预计年化收益率为8%，到期可获得13.18鸟币。
      li.slide
        div.item 18、如何获得体验金券？
        div.content(style='display:none;') 在领投鸟官网、App或微信端注册就获得60000元体验金券。
      li.slide
        div.item 19、体验金券的使用规则？
        div.content(style='display:none;') 体验金仅适用于投资体验标，标的结束以鸟币形式进行还款。  
      li.slide
        div.item 20、体验金券是否存在有效期？
        div.content(style='display:none;') 体验金券目前设置有效期为90天，以注册成功当日为起始时间。  
      li.slide
        div.item 21、如何查询体验金券？
        div.content(style='display:none;') 领投鸟理财用户新注册成功/登录领投鸟理财后，在“账户总览”页面可以查看到您的体验金券。      
