//- 集成帮助中心布局
extends ../../common/pages/help/help_layout.pug
block head
  title 帮助中心 关于领投鸟
//- 设置模板参数
block menu
  - var act =1
block help-content
  div.help-about
    div.help-title
      span 关于领投鸟
    ul.list
      li.slide
        div.item 01、领投鸟是做什么的？
        div.content(style='display:none;') 领投鸟（上海吾悠互联网科技服务有限公司）是宁波坤鹏普惠旗下专注于互联网金融的服务平台。核心团队成员来自腾讯、阿里巴巴、等大型互联网公司，渣打，麦格理等各大银行以及兴业全球基金，光大证券等权威金融机构，拥有丰富的互联网和金融行业经验，秉承开放创新，成就客户的服务理念，充分运用科技金融，智慧金融，以互联网为切入点进行投融资信息撮合服务，全心打造一站式互联网金融信息服务平台。
      li.slide
        div.item 02、使用领投鸟理财平台是否安全？
        div.content(style='display:none;') 领投鸟理财拥有多重风控及安全措施，尽其最大努力保障您使用的服务安全：
          p &nbsp;
          p (1) 第一道措施：资产质量
          p 优质资产：所有的资产经过八层风控体系层层筛选。平均通过率为3.5%。
          p 过程控制：专业的风险控制经验。贷前、贷中、贷后全方位监控，12道人工程序，让您投资更放心。
          p (2) 第二道措施：过程透明
          p 资金托管：所有资金由中国移动与银联成立的第三方平台联动优势全权托管。
          p 银行存管：所有资金均由华瑞银行进行存管，平台不触碰资金。
          p 流向透明：投资项目真实可查，资金流向透明。
          p (3) 第三道措施：技术保障
          p 同卡进出：提现仅限本人借记卡。
          p 技术保障：平台采用MD5数据加密技术、防火墙（Firewall）技术、威瑞信（VeriSign）数字签名技术、多重密码保护技术保证用户数据安全。
      li.slide
        div.item 03、领投鸟理财是如何保护用户信息及隐私保护？
        div.content(style='display:none;') 本平台对于用户提供的、自行收集到的、经认证的个人信息将按照领投鸟理财《在线服务协议》及有关规则予以保护， 但因技术限制问题， 本平台不能确保用户的个人信息不会通过本协议中未列明的途径泄露出去。 用户使用本平台服务进行交易时，即授权本平台将用户的包括但不限于真实姓名、联系方式、 信用状况等必要的个人信息和交易信息披露给为向用户提供服务而合作的机构。
      li.slide
        div.item 04、领投鸟的收费标准是什么？
        div.content(style='display:none;')
          table(border="1" width="100%" valign="middle")
            tr
              th 序号
              th 服务项目
              th 收费标准
            tr
              td 1
              td 注册
              td 免费
            tr
              td 2
              td 开户／绑卡
              td 免费
            tr
              td 3
              td 充值
              td 免费
            tr
              td 4
              td 投资
              td 免费
            tr
              td 5
              td 提现
              td.text-left 一般提现：每个自然月享受一次免费提现机会，超过后每次扣2鸟币，鸟币不足扣2元人民币/次(由银行收取)，从您的提现金额中收取。
                br
                br
                | 快捷提现：不享受自然月一次免费提现机会，不能使用鸟币进行抵扣，提现手续费每5万金额，算2块钱。例如提现12万，则提现手续费为6元
            tr
              td 6
              td 债权转让手续费
              td 官网暂不支持转让，可下载App查看
