extends ../../common/components/about/layout.pug

block head
  title 平台荣誉
block body
  div.about-content-part
    div.about-wrap
      include ../../common/components/about/leftNav/leftNav.pug
      div.right-content
        div.about-join
          div.about-content-wrp2
            div.tit-wrap 
              p.tit 加入我们
            div.join-content
              p.texts
                span 领投鸟视员工为企业的第一财富。我们为员工营造了轻松愉快的工作环境、充足的学习和成长机会，以充分展现员工的才华。作为创业企业， 我们愿与员工一起成长，共创互联网房产金融的美好未来。<br/>请将您的简历通过电子邮件投递到 
                span.email work@lingtouniao.com
                span ，邮件标题格式： 姓名-应聘职位-招聘信息来源，谢谢！
              div.open-job.clear
                p.l-p 开放职位
                a(href="#").r-p 更多职位...
              div.job-list
                div.item
                  div.main.clear
                    div.l-p 资深产品运营/运营专家 [ 上海 ]
                    a(href="#").r-p 投递简历
                  div.hidden
                    p 职位描述
                    p 3年以上运营经验，熟悉互联网金融运作模式，具有运用数据和产品运营解决实际问题的经验；有较强的分析规划能力、洞察力、开拓创新和应变能力，具有优秀的沟通能力，团队意识与执行能力强。
                    p 岗位职责
                    p 1、根据互联网金融平台发展和互联网人群的需求，参与公司战略方向、经营目标讨论并给出发展建议；
                    p 2、负责移动、网站运营的整体规划与执行，制定并完善产品业务规范；
                    p 3、制定并持续监测现有产品的收入、成本、客户量、活跃度、增长率等核心运营指标，对产品进行修正、包装与风控把关；
                    p 4、负责平台的项目对接、产品案例设计、产品结构化、产品培训及产品商务咨询谈判、拓展等工作；
                    
