//- 集成关于我们布局
extends ../../common/pages/about/about_layout.pug
block head
  title 关于我们 品牌优势
//- 设置模板参数
block menu
  - var act =9
block about-content
  div.about-protocol-contain
    div.title
      span 协议范本
    div.content.clear
      div.item
        a(href="/html/user/line/")
          p.name 用户服务协议
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="/html/user/private/")
          p.name 隐私条款
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="/html/product/capital/")
          p.name 资金托管协议
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="/html/user/contract/")
          p.name 用户授权协议
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="/html/product/financed/")
          p.name 支付服务协议
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="/html/product/start/contract/")
          p.name 体验标投资协议
          p.date 2016-3-30修订版
          p lingtouniao.com
      div.item
        a(href="http://www.lingtouniao.com/ltn-static/protocol/loan")
          p.name 借款协议
          p.date 2017-11-9修订版
          p lingtouniao.com
      div.item
        a(href="http://www.lingtouniao.com/ltn-static/protocol/lcjhproduct")
          p.name 理财计划协议
          p.date 2017-11-9修订版
          p lingtouniao.com
