//- 集成帮助中心布局
extends ../../common/pages/help/help_layout.pug
block head
  title 帮助中心 开户绑卡
//- 设置模板参数
block menu
  - var act =3
block help-content
  div.help-about
    div.help-title
      span 认证绑卡
    ul.list
      li.slide
        div.item 01、使用护照号、军官证号等是否可以认证？
        div.content(style='display:none;') 目前系统只支持第二代中华人民共和国居民身份证进行认证。除此之外，在领投鸟进行认证的用户年龄应满18岁。
      li.slide
        div.item 02、为什么要进行实名认证？
        div.content(style='display:none;') 实名认证的目的是为了确认投资人的身份以及保证投资借款合同的有效性与合法性。 同时我们也会通过实名认证验证您设置的提现银行账户是否属于您本人。 为了确保您的资金安全，您需要在首次投资前进行实名认证。 实名认证仅需您输入您的身份证号及姓名，全过程仅需10秒钟，非常简单。 领投鸟对于所有用户资料将严格保密。
      li.slide
        div.item 03、我认证成功后，是否可以更改证件号码？
        div.content(style='display:none;') 不可以，证件号码和平台用户名是唯一绑定的，会记录在系统及合同中，所以无法更改。
      li.slide
        div.item 04、我的姓名中有符号或是英文是否可以认证？
        div.content(style='display:none;') 目前对于身份信息的要求是在公安系统登记且可查询到的。对于姓名中出现的符号，请使用英文半角格式输入。
      li.slide
        div.item 05、如何进行实名认证？
        div.content(style='display:none;')
          p 方法一：
          p 您在注册完成后，跳转至实名认证页面，填入真实姓名、身份证号和图片验证码。然后点击“立即认证”按钮，页面跳转至联动优势页面(开户成功后跳转至交易密码设置页面)，填写相关表单。完成认证。
          p 方法二：
          p 在“账户中心”-“实名认证”。填入真实姓名、身份证号和图片验证码。然后点击“实名认证”按钮，页面跳转至联动优势页面，填写相关表单。完成开户。
      li.slide
        div.item 06、为什么实名认证不成功？应该如何解决？
        div.content(style='display:none;')
          p 根据联动优势的规定，验证不成功，通常有三种情况：
          p 1、更改过姓名。
          p 2、更改过户籍所在地。
          p 3、现役军人。
          p &nbsp;
          p 解决办法：
          p 如果是前两种情况，建议用户可以到派出所进行“网络身份信息”查询、更改；或者联系客服热线：400-9999-980咨询处理。
      li.slide
        div.item 07、什么是绑定银行卡？我什么时候需要绑定银行卡？
        div.content(style='display:none;') 绑定银行卡指的是在领投鸟上储存您的银行卡信息，方便您之后提现操作的同时保障您的账户安全。 在第一次充值或提现之前需要绑定一张银行卡，绑定银行卡的操作非常简单， 您只需提供您的银行卡号、开户银行及开户支行（可根据支行地址的关键字模糊查询）。 请注意，您绑定的银行卡的持卡人需与您之前开户的姓名、身份证和您办卡时预留的手机号信息一致，否则将不能进行银行卡绑定。
      li.slide
        div.item 08、我如何绑定银行卡？
        div.content(style='display:none;')
          p 方法一：
          p 在注册实名之后，点击“已完成”按钮，页面跳转至“绑定银行卡”页面，在该页面填写相关信息，点击“立即绑卡”，页面跳转至“联动优势”页面(页面跳转至“银行卡校验”页面)，填写相关表单，完成绑卡。
          p 方法二：
          p 在“账户中心”-“我的银行卡”，填写相关信息，点击“绑定银行卡”，页面跳转至“联动优势”页面(“绑定银行卡”页面)，填写相关表单，完成绑卡。
      li.slide
        div.item 09、如何更换银行卡？
        div.content(style='display:none;')
          p 在“账户中心”-“我的银行卡”， 点击“更换银行卡”页面切换成“银行卡”表单，填写相关信息，然后点击“确定更换银行卡”。联系客服，提供相关材料便可申请换卡。
          p &nbsp;
          p 情形一：账户无在途资金
          p 当您的账户满足如下条件时：
          p 无投资、无还款中的项目，
          p 可用余额为0（可将余额提现，并确保资金到账后再发起换卡申请）
          p 您的换卡申请系统会自动审核通过
          p &nbsp;
          p 情形二：不满足情形一的情况
          p 为了保证您的资金，若您的账户不满足上述条件并发起换卡申请时，需要额外提供如下资料，发送至邮箱service@lingtouniao.com，以便人工审核;
          p 分两种情况:
          p 1.原卡和新卡皆在
          p (1) 您手持身份证照片正反面，显示本人脸和手臂，图片应能看清身份证号、人像；
          p (2) 您手持原卡、新卡正反面照片，显示本人脸和手臂，图片应能看清银行卡卡号；
          p 注意：新卡需为平台当前支持的储蓄卡类型
          p 2.原卡银行卡丢失
          p (1) 您手持身份证照片正反面，显示本人脸和手臂，图片应能看清身份证号、人像；
          p (2) 您手持原卡、新卡正反面照片，显示本人脸和手臂，图片应能看清银行卡卡号；
          p 注意：新卡需为平台当前支持的储蓄卡类型
          p (3) 出示原卡挂失证明；
          p (4) 原卡的开户证明或银行开具的一个月内交易流水并加盖银行公章；
          p (5) 新卡开户单子或新卡与身份证关联关系证明（银行出具）；
          p 提醒：若您丢失原卡开户证明或原卡已销毁等相关资料，请用户提供换卡证明，且证明上需印有银行柜台盖章以便审核。
      li.slide
        div.item 10、为什么在联动优势绑定银行卡时长时间显示验证中或绑定失败？
        div.content(style='display:none;')
          p 出现此现象的原因可能有以下几种：
          p 1、领投鸟账号未通过实名认证
          p 2、银行开户行信息错误
          p 3、银行账号/户名错误，或是账号和户名不符
          p 4、银行卡账户冻结或正在办理挂失
          p 5、您的姓名中有生僻字，需要联系领投鸟客服，提供相关信息后交给联动优势手动绑定银行卡。
      li.slide
        div.item 11、领投鸟理财官网支持哪些借记卡？
        div.content(style='display:none;')
          p 借记卡快捷银行列表：
          table(border="1" width="100%" valign="middle")
            tr
              th 序号
              th 银行
              th 银行简码
            tr
              td 1
              td 中国工商银行
              td ICBC
            tr
              td 2
              td 中国农业银行
              td ABC
            tr
              td 3
              td 中国建设银行
              td CCB
            tr
              td 4
              td 中国银行
              td BOC
            tr
              td 5
              td 光大银行
              td CEB
            tr
              td 6
              td 兴业银行
              td CIB
            tr
              td 7
              td 中国民生银行
              td CMBC
            tr
              td 8
              td 华夏银行
              td HXB
            tr
              td 9
              td 浦东发展银行
              td PSBC
            tr
              td 10
              td 交通银行
              td COMM
            tr
              td 11
              td 广发银行
              td GDB
            tr
              td 12
              td 中信银行
              td CITIC
            tr
              td 13
              td 招商银行
              td CMB
            tr
              td 14
              td 平安银行
              td SPAB
